/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe center;

    height: 100%;
    gap: 20px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll;

    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    
    background: var(--border-color);
}

.intro * {
    outline: 0px dotted yellow;
}

.intro-text {
    position: sticky;
    top: -10px;

    width: calc(100% + 20px);
    padding: 5px;

    font-style: italic;

    background: var(--border-color);
    z-index: 1;
}

.intro-subcontainer {
    display: flex;

    width: 95%;

    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--bg-color-darker);
}

.intro-title {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    flex-shrink: 0;
    padding: 5px;

    color: var(--border-color);
    font-family: "Roboto Slab", serif;
    font-weight: bold;

    border: 2px solid var(--bg-color);
    border-radius: 5px 0px 0px 5px;
    background: var(--bg-color);
}

.intro-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    flex-grow: 1;

    text-align: left;
    font-size: 0.9rem;

    border-radius: 0px 5px 5px 0px;
    background: #90A1B9;
}

.intro-content > :is(p, div) {
    margin: 7px;
}

.intro-prog {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-bottom: 10px;
}

.intro-prog-table {
    border: 2px solid var(--bg-color);
    background: var(--bg-color-lighter);
    border-radius: 5px;
    overflow: hidden;

    font-size: clamp(5px, 1vw, 0.9rem);
}

.intro-prog-table table {
    border-collapse: collapse;
    table-layout: fixed;
}

.intro-prog-table :is(th, td) {
    border: 1px solid var(--bg-color);
    background: var(--bg-color-lighter);

    padding: 5px;

    color: var(--bg-color-darker2);
}

.intro-prog-table th {
    text-align: center;
}

.intro-prog-table th:nth-child(1) {
    width: 20px;
}

.intro-prog-table th:nth-child(n+2) {
    width: clamp(10px, 15vw, 500px);
}

.intro-prog-table .prog-state-red {
    color: #E7180B;
}

.intro-prog-table .prog-state-yellow-1 {
    color: #FFB93B;
}

.intro-prog-table .prog-state-yellow-2 {
    color: #FE9A37;
}

.intro-prog-table .prog-state-green {
    color: #7CCF35;
}