/* Layout */
nav {
    grid-column: 1;

	display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding: 0px;

    border-right: 2px solid var(--border-color);
    background: var(--bg-color);

    font-family: "Roboto Slab", system-ui, sans-serif;
    font-size: 1rem;
    color: var(--bg-text-color);

    position: relative;
}

nav * {
    outline: 0px dotted red;
}

.side-config {
    overflow: scroll;
    flex-grow: 1;

    background: var(--bg-color-lighter);
}

/* Name */
.side-name {
    background: var(--bg-color);

    padding: 10px;
    box-shadow: 0px 1px 3px black;
    z-index: 1;
}

.name-projname {
    font-size: 2em;
    font-weight: 700;
}

.name-ver {
    font-size: 0.75em;
}

/* Config Items */
.config-item {
    display: flex;
    padding: 0px;
}

.config-item-name {
    display: flex;
    justify-content: center;
    background: var(--border-color);

    padding: 10px 0;
    color: var(--border-text-color);
    font-family: "Source Sans 3", sans-serif;
    font-weight: 650;
    writing-mode: vertical-lr;

    transform: rotate(180deg);
}

.config-item-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    padding: 10px;

    background: var(--bg-color-lighter);
}

.config-title {
	text-align: left;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.config-item-content > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.config-box {
    min-height: 50px;

    background: var(--bg-color-lighter2);
    border: 1px solid var(--bg-color-darker);
    border-radius: 4px;

    font-family: "Roboto", sans-serif;
}

.config-item-content button {
    width: 100%
}

/* Buttons */
nav button {
    border: 2px solid #99A1AF;
    border-radius: 4px;
    background: var(--bg-color-lighter);

    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: var(--bg-text-color);
}

.side-config button:hover, .side-refresh button {
    background: var(--bg-color);
}

/* Inputs */
nav input {
    width: 100%;
    height: 25px;
    padding: 4px 10px;

    background: var(--border-text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;

    color: var(--bg-text-color);
    font-weight: bold;
}

nav input:hover {
    background: var(--bg-color-lighter);
}

nav input:not(:placeholder-shown) {
    background: var(--config-search-highlight-color);
}

nav input::placeholder{
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 400;
}

/* Config: Filter */
.filter-active-box {
    min-height: 46px;
    overflow: hidden;
}

.filter-active-box > div {
    padding: 0px;
}

.filter-active-header, .filter-active-content {
    padding: 5px;

    font-size: 0.7rem;
}

.filter-active-header {
    position: relative;

    background: var(--cell-darker);

    font-weight: bold;
}

.filter-active-content {
    background: var(--cell-lighter);
}

.filter-remove-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 10px;
    width: 10px;

    background: var(--config-remove-button-color);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px var(--border-color);

    color: var(--border-text-color);
}

.filter-remove-button:hover {
    background: var(--config-remove-button-color-hover);
}

.filter-add-box {
    display: flex;
    flex-direction: column;
}

.filter-add-box > * {
    display: flex;
    justify-content: center;
    position: relative;

    padding: 5px;
}

.filter-add-box > div:first-child {
    border-bottom: 1px solid var(--bg-color-darker)
}

.filter-add-box > div:nth-child(2) {
    display: none;
    flex-direction: column;
    gap: 5px;

    padding-bottom: 0px;
}

.filter-add-box .filter-new-input {
    width: 143px;
    height: 25px;
    padding: 4px 5px;
    padding-right: 20px;
    position: relative;

    background: var(--border-text-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;

    color: var(--bg-text-color);
    font-size: 0.7rem;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.filter-add-box ul {
    position: absolute;
    top: 35px;
    left: -1px;
    overflow: scroll;

    width: calc(100% + 2px);
    height: 200px;
    margin: 0;
    padding: 0;

    background: var(--bg-color-lighter);
    border: 1px solid var(--bg-color-darker);
    border-radius: 0px 0px 2px 2px;

    list-style: none;
    z-index: 3;
    display: none;
}

.filter-add-box ul li {
    background: var(--cell-lighter);

    font-size: 0.7rem;
    padding: 2px;

    cursor: pointer;
}

.filter-add-box ul li:hover {
    background: var(--cell-darker);
}

.filter-add-box input {
    padding: 5px;
    font-size: 0.7rem;
}

.filter-add-box input:not(:placeholder-shown) {
    background: var(--cell-lighter);
}

.filter-add-button {
    display: flex;
    justify-content: center;
}

/* Config: Visibility & Order */
.visibility-box {
    max-height: 30vh;
    overflow-y: scroll;
}

.visibility-box > div {
    position: relative;
    padding: 2px;

    font-size: 0.75rem;

    cursor: pointer;
}

.visibility-box > div {
    background: var(--cell-lighter);
}

.visibility-box > div:hover {
    background: var(--cell-darker);
}

.visibility-box .disabled {
    color: color-mix(in srgb, var(--bg-text-color) 30%, transparent);
}

.visibility-box > div > div {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);

    height: 10px;
    width: 10px;

    background: var(--cell-darker);
    border-radius: 5px;
    box-shadow: 0.5px 0.5px 0.5px var(--border-color);
}

.visibility-box > div > div:hover {
    background: var(--header);
}

.visibility-box .disabled > div {
    display: none;
}

.test {
    width: 100px !important;
}

/* Refresh */
.side-refresh {
    display: flex;
    justify-content: center;

    height: 40px;
    padding: 5px;

    box-shadow: 0px -1px 3px black;
    z-index: 1;
}

.side-refresh button:hover {
    background: var(--bg-color-darker);
}

/* Misc */
.no-scroll-bar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.no-scroll-bar::-webkit-scrollbar {
    display: none;
}
